
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href= "{{ url_for('static',filename='styles/img/apple-icon.png')}}">
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>PCARE</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
	
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href= "{{ url_for('static',filename='styles/bootstrap.min.css')}}" rel="stylesheet" />
    <link href= "{{ url_for('static',filename='styles/light-bootstrap-dashboard.css')}} " rel="stylesheet" />
	<link href= "{{ url_for('static',filename='styles/pull_data_API.css')}}" rel="stylesheet" />
	<link href= "{{ url_for('static',filename='styles/drugs.css')}}" rel="stylesheet" />
</head>


<style>
#menu_1{
width:150px;
font-size: 18px;
text-align-last:center;  
}

#menu_2{
width:150px;
font-size: 18px;
text-align-last:center;  
}


#submit_button{
    width: 150px ;
	color: black;
}



</style>

<body>
    <div class="wrapper">
        <div class="sidebar" data-image="{{ url_for('static',filename='styles/sidebar-5.jpg')}}">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"
        Tip 2: you can also add an image using data-image tag
    -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a class="simple-text">
                        P-CARE
                    </a>
                </div>
                <ul class="nav">
                    
                    <li>
                        <a class="nav-link" href="/pull_data" data-toggle="tooltip" title="Run API call to collect all available information">
                            <i class="nc-icon nc-atom"></i>
                            <p>Pull Data</p>
                        </a>
                    </li>
                    </li>
                    	 <li>
                        <a class="nav-link"  href="/analyze_data" data-toggle="tooltip" title="Visually compare and predict targets based on features">
                            <i class="nc-icon nc-chart-bar-32"></i>
                            <p>Analyze Data</p>
                        </a>
                    </li>
					 <li>
                        <a class="nav-link"  href="/rules" data-toggle="tooltip" title="Predict correlations">
                            <i class="nc-icon nc-notes"></i>
                            <p>Rules</p>
                        </a>
                    </li>
                    <li>
                            <a class="nav-link"  href="/drugs" data-toggle="tooltip" title="Predict drugs">
                                <i class="nc-icon nc-ambulance"></i>
                                <p>Drugs</p>
                            </a>
                    </li>

                </ul>
            </div>
        </div>
		
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/dashboard"> Dashboard  </a>
					
                    <a id="logout" href="/landing" class="btn btn-info btn-md"> Log out
                        <span class="glyphicon glyphicon-log-out"></span> 
                      </a>

                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                   
                </div>
            </nav>
            </nav>


            <div class="content">
                    <div class="container-fluid">
    
                        <div class="row">
                            
                             
                            <div class="col-md-4">
                                <div class="card ">
                                    <div class="card-header ">
                                        <h4 class="card-title" >Drug Statistics</h4>
                                    </div>
                                   
                                    <img src= "{{ url_for('static', filename='pie_chart.svg')}}"  >  
    
                                    <p id = "font_margin">This pie chart shows that the top 20 most common drugs comprise 33.3% of our data. 
									The dataset contains over 2,000 drugs, however, a large portion of the records (33.3%) reference only 20 of those drugs. 
									This represents the significance of the “top” 20 drugs.</p>
                                    
                                    <p id = "font_margin">
                                        Top Drugs    &emsp;     Used For
                                        <br>
                                        1. LISINOPRIL  &emsp;   High blood pressure                 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;          11. CLOPIDOGREL                &emsp;  Prevent heart attack
                                        <br>
                                        2. HYDROCODONE-ACETAMINOPHEN    &emsp;   Pain management    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;          12. METOPROLOL SUCCINATE      &emsp;   High blood pressure 
                                        <br> 
                                        3. AMLODIPINE BESYLATE  &emsp;   High blood pressure        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;          13. CARVEDILOL                &emsp;   High blood pressure
                                        <br>
                                        4. OMEPRAZOLE   &emsp;   Heart burn                         &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;          14. WARFARIN SODIUM           &emsp;   Prevent blood clots
                                        <br>
                                        5. SIMVASTATIN  &emsp;   High Cholesterol                   &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;          15. CLONAZEPAM                &emsp;   Treat anxiety
                                        <br>
                                        6. FUROSEMIDE   &emsp;   High blood pressure                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;          16. TRAZODONE HCL             &emsp;   Treat depression
                                        <br>
                                        7. ATORVASTATIN CALCIUM     &emsp;   High Cholesterol       &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;          17. ALPRAZOLAM                &emsp;   Treat anxiety 
                                        <br>
                                        8. LEVOTHYROXINE SODIUM     &emsp;   Hypothyroidism         &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;          18. METFORMIN HCL             &emsp;   Treat diabetes
                                        <br>
                                        9. GABAPENTIN    &emsp;   Shingles                          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;          19. LOSARTAN POTASSIUM        &emsp;   High blood pressure 
                                        <br>
                                        10. METOPROLOL TARTRATE   &emsp;   High blood pressure      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;          20. PREDNISONE                &emsp;   Treat inflamation 
                                        <br>
                                    
                                    </p>
                                    
          
                                    
                                </div>
                            </div>
    
                            <div class="col-md-8">
                                    <div class="row ">
                                        

                                            <div class="col-md-2">
                                     
                                               
                                                    <button type="button" id = "demobutton" class="btn btn-primary btn-lg"  onclick="loader_anime()" >Demo</button>
                                                    
                                                    <br>
                                                    <br>
                                                    <br>

                                                    <select id = "menu_1" disabled>
													  <option>--Select--</option>
													  <option>Drug 2</option>
													  <option>Drug 3</option>
													  <option>Drug 4</option>
													</select>


                                                  
                                                    <br>
                                                    <br>

                                                    <select id = "menu_2" disabled>
													  <option>--Select--</option>
													  <option>Drug 2</option>
													  <option>Drug 3</option>
													  <option>Drug 4</option>
													</select>
													<br>
													<br>

													<button type="button" id = "submit_button" class="btn btn-primary btn-lg"  onclick="loader_anime()" disabled>Submit</button>
                                                   
                                            </div>


                                            <div class = "col-md-10">
                                                <div class = "card">

                                                        <div id="loader_2"></div>


                                                            
                                            
                                                    <div id = "postdemo">


                                                            <h3 id = "font_margin">Predicted Specialty</h3>
            
                                                           <p id = "font_margin">Specialty:</p> 
                                                           
                                                            <input id = "font_margin" type="text" name="firstname" value="Pediatric Hematology-Oncology"   size="30" disabled>
                                                            <img src="https://img.icons8.com/color/96/000000/drop-of-blood.png" width = "30px">
                                                            <br>
                                                            <br>
            
                                                           
            
                                                                <img src= "{{ url_for('static', filename='demo_bar.png')}}"  height = "500px" width = "850px" > 
                                                        </div>
                                                </div>
                                            </div>
                                    
                                    </div>
                             </div>
                            
                                    
                                            
                                    
                        </div>
                        
                    </div>
                </div>



            <!-- End Navbar -->
  
            <footer class="footer">
                <div class="container-fluid">
                    <nav>
                        
                        <p class="copyright text-center">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                        </p>
                    </nav>
                </div>
            </footer>
        </div>
    </div>

    
    
    <a href="https://icons8.com/icon/26115/drop-of-blood">Drop of Blood icon by Icons8</a>
</body>
<!--   Core JS Files   -->
<script src= "{{ url_for('static',filename='styles/jquery.3.2.1.min.js')}}" type="text/javascript"></script>
<script src= "{{ url_for('static',filename='styles/popper.min.js')}}" type="text/javascript"></script>
<script src= "{{ url_for('static',filename='styles/bootstrap.min.js')}}" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src= "{{ url_for('static',filename='styles/bootstrap-switch.js')}}"></script>
<!--  Chartist Plugin  -->
<script src= "{{ url_for('static',filename='styles/chartist.min.js')}}"></script>
<!--  Notifications Plugin    -->
<script src= "{{ url_for('static',filename='styles/bootstrap-notify.js')}}"></script>
<!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
<script src= "{{ url_for('static',filename='styles/light-bootstrap-dashboard.js')}} " type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();
        demo.showNotification();
    });
</script>
<script>
	var sec = 15;
	var myTimer = document.getElementById('myTimer');
	var myBtn = document.getElementById('menu_1');
	window.onload = countDown;
    function loader_anime(){
        var targetElement = document.getElementById("loader_2");
        targetElement.className = "loader_test";
        setTimeout("show()", 5000);
    }

    function show(){
        document.getElementById("postdemo").style.visibility = "visible";
		$("#myBtn").removeAttr("disabled");
		/*document.getElementById('menu_1').disabled = false;
		document.getElementById('menu_2').disabled = false;*/
		document.getElementById("menu_1").selectedIndex = 2;
		document.getElementById("menu_2").selectedIndex = 1;
		/*document.getElementById('menu_1').disabled = true;
		document.getElementById('menu_2').disabled = true;
		document.getElementById('submit_button').disabled = false;*/
	}
	
</script>



</html>