<style>
body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("{{ url_for('static', filename='index_background_image.png')}}");

  /* Add the blur effect */
  filter: blur(2px);
  -webkit-filter: blur(2px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.8); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 40%;
  padding: 20px;
  text-align: center;
}

body {font-family: Arial, Helvetica, sans-serif;}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: blueviolet;
  color: white;
  padding: 16px 20px;
  margin: 12px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 18px; 
}

button:hover {
  opacity: 0.8;
}


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}


</style>


<body> 


  <div class="bg-image">
    <!--img src= "{{ url_for('static', filename='index_background_image.png')}}"  height = "800px" width = "1800px">  -->
  </div>


  <div class="bg-text">
   
    <h2>P-CARE Login</h2>

    <form action="/dashboard" method="post">
      <div class="imgcontainer">
        <img src="{{ url_for('static', filename='login_avatar.png')}}" alt="Avatar" class="avatar">
        <!-- Avatar image was downloaded from this link: https://www.w3schools.com/howto/howto_css_image_overlay_icon.asp-->
      </div>

      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
            
        <button type="submit"><b>Login</b></button>
        <label>
          <input type="checkbox" checked="checked" name="HIPAA" required > I comply with HIPAA...
        </label>
      </div>

    </form>


  </div>




</body>