<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
	<link href= "{{ url_for('static',filename='styles/login_page.css')}} " rel="stylesheet" />

</head>

<body> 


  <div class="bg-image">
    <!--img src= "{{ url_for('static', filename='index_background_image.png')}}"  height = "800px" width = "1800px">  -->
  </div>


  <div class="bg-text">
   
    <h2>P-CARE Login</h2>

    <form action="" method="post">
      <div class="imgcontainer">
        <img src="{{ url_for('static', filename='login_avatar.png')}}" alt="Avatar" class="avatar">
        <div class = "iconsrc">Icons made by <a href="https://www.flaticon.com/authors/popcorns-arts" title="Icon Pond">Icon Pond</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        <!-- Avatar image was downloaded from this link: https://www.w3schools.com/howto/howto_css_image_overlay_icon.asp-->
      </div>

      <div class="container">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter username" name="username" value="{{request.form.username}}" required>
  
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" value="{{request.form.password}}" required>
  
              
          <button type="submit"><b>Login</b></button>
  
      <!-- including terms and condition and link reference to HIPAA,  -->
          <label>
            <input type="checkbox"  name="HIPAA" required > I comply with <a href = "https://www.hhs.gov/hipaa/index.html" target="_blank">HIPAA</a> <a href = "/terms" target="_blank"> Terms and Condition</a>
        </label> 
    
  
            <!-- returns if user enters wrong credentials -->	
      {% if error %}
          <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
        </div>

    </form>

  </div>

</body>

</html>