
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href= "{{ url_for('static',filename='styles/img/apple-icon.png')}}">
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>PCARE</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
	
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href= "{{ url_for('static',filename='styles/bootstrap.min.css')}}" rel="stylesheet" />
    <link href= "{{ url_for('static',filename='styles/light-bootstrap-dashboard.css')}} " rel="stylesheet" />
	<link href= "{{ url_for('static',filename='styles/pull_data_API.css')}}" rel="stylesheet" />
</head>

<style>
#logout{
    position: absolute;
	top: -5px;
	left: 1500px;
}

.btn{
    background-color: blueviolet;
    color: white;
    border-color: white;
}
</style>



<body>
    <div class="wrapper">
        <div class="sidebar" data-image="{{ url_for('static',filename='styles/sidebar-5.jpg')}}">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"
        Tip 2: you can also add an image using data-image tag
    -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a class="simple-text">
                        P-CARE
                    </a>
                </div>
                <ul class="nav">
                    
                    <li>
                        <a class="nav-link" href="/pull_data" data-toggle="tooltip" title="Run API call to collect all available information">
                            <i class="nc-icon nc-atom"></i>
                            <p>Pull Data</p>
                        </a>
                    </li>
                    </li>
                    	 <li>
                        <a class="nav-link"  href="/analyze_data" data-toggle="tooltip" title="Visually compare and predict targets based on features">
                            <i class="nc-icon nc-chart-bar-32"></i>
                            <p>Analyze Data</p>
                        </a>
                    </li>
					 <li>
                        <a class="nav-link"  href="/rules" data-toggle="tooltip" title="Predict correlations">
                            <i class="nc-icon nc-notes"></i>
                            <p>Rules</p>
                        </a>
                    </li>
                    <li>
                            <a class="nav-link"  href="/drugs" data-toggle="tooltip" title="Predict drugs">
                                <i class="nc-icon nc-notes"></i>
                                <p>Drugs</p>
                            </a>
                        </li>

                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/dashboard"> Dashboard </a>
					
                    <a id="logout" href="/landing" class="btn btn-info btn-md"> Log out
                        <span class="glyphicon glyphicon-log-out"></span> 
                      </a>

                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                   
                </div>
            </nav>
            </nav>

            
                
           

            <!-- USA MAP -->
            <div class = "usamap">
			
			<label for="male">{{south}}</label>

              <img src= "{{ url_for('static', filename='map graphic.png')}}"  height = "600px" width = "1600px">  
               

                  <!-- Circles -->
                <span class ="dot1"></span>
                <span class ="dot2"></span>
                <span class ="dot3"></span>
                <span class ="dot4"></span>
                <span class ="dot5"></span>

                <div class = "meter1" >
                    <span style="width: 100%"></span>
                </div>
                <div class = "meter2" >
                    <span style="width: 100%"></span>
                </div>
                <div class = "meter3" >
                    <span style="width: 100%"></span>
                </div>
                <div class = "meter4" >
                    <span style="width: 100%"></span>
                </div>
                        

            </div>



 
             <!-- pargraph -->
            <p>This data is pulled from 4 hotspot regions in the United States: West, South, Northeast and Midwest.</p>
				
            <!-- H1-->
            <div class = "isDone">
                <h1>The Data Loading is Complete</h1>
                <p id = "Note2"> South = {{south}},  # of Records: {{ total_records }},  # of columns: XX, Shape of our Data: XX </p>
            </div>
            


            

        
            
            <div class="loader">

            </div>

  





            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
				 
                        
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav>
                        
                        <p class="copyright text-center">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                        </p>
                    </nav>
                </div>
            </footer>
        </div>
    </div>

    
    

</body>
<!--   Core JS Files   -->
<script src= "{{ url_for('static',filename='styles/jquery.3.2.1.min.js')}}" type="text/javascript"></script>
<script src= "{{ url_for('static',filename='styles/popper.min.js')}}" type="text/javascript"></script>
<script src= "{{ url_for('static',filename='styles/bootstrap.min.js')}}" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src= "{{ url_for('static',filename='styles/bootstrap-switch.js')}}"></script>
<!--  Chartist Plugin  -->
<script src= "{{ url_for('static',filename='styles/chartist.min.js')}}"></script>
<!--  Notifications Plugin    -->
<script src= "{{ url_for('static',filename='styles/bootstrap-notify.js')}}"></script>
<!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
<script src= "{{ url_for('static',filename='styles/light-bootstrap-dashboard.js')}} " type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();
        demo.showNotification();
    });
</script>

</html>